{% extends "kiosks_layout.html" %}
{% block title %}{{ kiosk.name }} Kiosk — {{ event.title }}{% endblock %}
{% block bodytag %}<body class="contact_point">{% endblock %}

{% block basecontent %}

<!-- Modal -->
<div class="modal fade" id="message-box" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="greetings">

        </h1>
      </div>
      <div class="modal-body" style="font-size: 1.5em; line-height: 1.5em" id="info">
          Your contact information will be shared with <b>{{kiosk.name}}</b> <br>in <span id="share-countdown">5</span> seconds. You can cancel this action if you wish to.
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel-share" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Share contact information</button>
      </div>
    </div>
  </div>
</div>

<!-- Error message -->
<div class="modal fade" id="error-box" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="greetings">
            Oops.
        </h1>
      </div>
      <div class="modal-body" style="font-size: 1.5em; line-height: 1.5em" id="error-msg">
      </div>
    </div>
  </div>
</div>

<div id="contact_point">
  <div id="company">
    <div class="logo">
      <img src="/static/uploads/sponsors/{{ kiosk.company_logo }}" alt="{{ kiosk.company }} Logo">
    </div>
    <div class="info">
      <div class="name">{{ kiosk.company }}</div>
      <div class="tag">{{ kiosk.company_tag }}</div>
    </div>
  </div>
  <div id="error"> </div>
  <h1 id="company_tap_msg">
    Tap your badge to {% if kiosk.tap_msg %} {{ kiosk.tap_msg }} {% else %} share your details {% endif %}
  </h1>
  <hr>
  <div id="sponsor_privacy">
    <h4>Privacy Policy</h4>
    <h5>HasGeek</h5>
    <p>Tap your badge to share your contact information. We'll pass on whatever you provided to us when registering for the event.</p>
    <h5>{{ kiosk.company }}</h5>
    {{ kiosk.privacy_policy or "" }}
  </div>
</div>

{% endblock %}
{% block footerscripts %}
{{ super() }}
<script type="text/javascript">

// Config
var RESET_AFTER = 3000 // wait 3 seconds to clear any keyboard input
var N_CHARS = 10 // No. of characters in the barcode
var N_PUBLIC = 4 // length of public (prefix)
var N_PRIVATE = N_CHARS - N_PUBLIC
var REFRESH_TIMEOUT = 300000 // 5 minutes
var REFRESH_JITTER  = 20000  // 20 seconds
var END_CHAR = 13 // Read ends with an enter keypress
var PARTICIPANTS_URL = "/event/{{ event.id }}/participants";
var SHARED_SYNC_URL = "/event/{{ event.id }}/kiosk/{{kiosk.id}}/share_sync";

</script>
<script src="/static/js/kiosk.js"></script>

{% endblock %}
